@model EmployeeModel


     <div class="row">
           <ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">Name - </span>@Model.EmpName</li>
                <li class="list-group-item"><span class="font-weight-bold">Age - </span>@Model.EmpAge</li>
                <li class="list-group-item"><span class="font-weight-bold">Email - </span>@Model.EmpEmail</li>
                <li class="list-group-item"><span class="font-weight-bold">Father Name - </span>@Model.EmpFathername</li>
                <li class="list-group-item"><span class="font-weight-bold">Mother Name - </span>@Model.EmpMothername</li>
                <li class="list-group-item"><span class="font-weight-bold">Salary - </span>@Model.EmpSalary</li>
                <li class="list-group-item"><span class="font-weight-bold">Gender - </span>@Model.EmpGender</li>
            </ul>
     </div>

