@model IEnumerable<DBMigration_test.Context.Studentcs>
@{
    ViewData["Title"] = "GetAllStudents";
}

<h1>GetAllStudents</h1>

<div class="container">
     <h3 class="h3">All Students</h3>
           <div class="row"> 
            @foreach (var student in Model)
            {
                 <div class="col mb-4">
                 <div class="card" style="width: 18rem;">
                    <img src="@student.CoverImageUrl" class="img-thumbnail" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Id - @student.StudentId</h5>
                      <p class="card-text">Name - @student.StudentName</p>
                       <p class="card-text">Age - @student.StudentAge</p>
                        @*<p class="card-text">@student.</p>
                      <a href="/book/getbook/@student.Id" class="btn btn-primary">View Details</a>*@
                    </div>
                  </div>
              </div>
            
            }
              </div>
              </div>
